{% extends "hyde/templates/index.html" %}

{% block content %}
    <p>Hello, my name is William Jones. I go by the handle <em>cr1901</em>
    on most websites. I have a B.Sc. in electrical computer engineering (ECE),
    and am currently freelancing. I am open to consulting work such as
    software programming, including adding features to open source code bases,
    and hardware design, such as verification of HDL using simulators or FPGAS.
    Some of the projects I have worked on on a consulting basis can be found
    <a href="./consult.html">here</a>.</p>

    <p>I also use this website to discuss my hobbyist pursuits, via
    the blog <a href="./blog.html">Anachronism</a>. As perhaps expected,
    most of my endeavors are electronics-based, but have some vintage
    element to them.</p>
{% endblock content %}
